
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.steps{
  text-align: center;
  padding: 80px 0px 40px;
}

.steps h1
{
  width: 250px;
  font-size: 48px;
  margin:0 auto 24px;
  border-bottom: 1px solid #000;
}
.steps p
{
  margin: 0 auto;
  width: 50%;
}

.arrow
{
  position: absolute;
  width: 80px;
  height: 80px;
  border: 1px solid #aaa;
  left: 50%;
  transform: translateX(-50%)
             rotate(-45deg);
  transform-origin: top left;
}

.step-one{
  background-color: #f27c7c;
}
.step-one+.arrow{
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #f27c7c;
  border-left: 40px solid #f27c7c;
}

.step-tow{
  background-color: #f2b57c;
}
.step-tow+.arrow{
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #f2b57c;
  border-left: 40px solid #f2b57c;
}

.step-three{
  background-color: #e5f27c;
}
.step-three+.arrow{
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #e5f27c;
  border-left: 40px solid #e5f27c;
}

.step-three{
  background-color: #e5f27c;
}
.step-three+.arrow{
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #e5f27c;
  border-left: 40px solid #e5f27c;
}

.step-four{
  background-color: #81f27c;
}
.step-four+.arrow{
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #81f27c;
  border-left: 40px solid #81f27c;
}

.step-five{
  background-color: #7cf2e4;
}
.step-five+.arrow{
  border-top: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #7cf2e4;
  border-left: 40px solid #7cf2e4;
}
